html{
    font-size: 62,5%;/*para establecer rem hay que colocar en html 62.5 qu e equibale a 1 rem *1rem= 10px*/
    padding: 0;
    margin: 0 ;
    font-family:'Bungee Spice', cursive;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(90deg, rgb(37, 36, 36), rgb(236, 72, 72));
}
header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}
.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(96, 24, 24);
    text-transform: uppercase;
}
#selected{
    background: #F6615D;
    padding: 10px 40px;
    border-radius: 50px;
}
.container__cover{
    width: 100%;
    height: 800px;
    background-image: url(.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}
.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}
h1, h2{
    color: white;
    text-align: center;

}
.grid-container{
    
    /*background-color: rgb(114, 59, 172);*/
    background: linear-gradient(90deg, rgb(236, 17, 192), blue(34, 0, 255));
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 15rem);/*en fraccion repeat 4 columnas de 1 fraccion(4, 1fr) /*10rem 10rem 10rem; /*la cantidad equibale a las columnas esas son 3 columnas las divide en columnas hay ahi 3 clumnas otra forma 100px 100px 100px; tambie shooket :repeat (4, 10rem*)*/
    grid-template-rows: repeat(3, 15rem); /*en fraccion repeat(3, 1fr) /*10rem 10rem 10rem;  /*otra forma*100px 100px 100px;*/
    /*gap: 1rem;/*gap: 1rem;gap espCIADO*/
    column-gap: 1rem;/*espaciado entre columnas*/
    row-gap: 1rem;/*espaciado entre filas*/
    font-family:'Bungee Spice', cursive;
    text-align: center; 
    
}
@font-face {
    font-family:'Bungee Spice';
    src: url(BungeeSpice-Regular.ttf);
}
.grid-item{
    background-color: rgb(151, 64, 232);
    border: 1px solid rgb(126, 81, 81);
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(64, 61, 61, 0.71);
    text-align: center;
}